# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/

# Windows-separator artifacts accidentally created on macOS/Linux
# (these are literal backslashes in directory names like `bin\Debug`)
**/[Bb]in\\**/
**/[Oo]bj\\**/


# Test results / coverage
**/TestResults/
coverage*

# NuGet outputs
*.nupkg
*.snupkg

# MSBuild logs
*.binlog

# IDEs
.vs/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
Desktop.ini
